.container {
  width: 1440px;
  margin: 20px auto; // Reduced margin to 20px, adjust as needed
}

.admin {
  height: 100vh;
  display: flex;
}

.content {
  height: 100%;
  padding: 40px 60px;
  flex: 1;
}
